<div class="text-center">
  <h2 class="font-akronim font-2rem">CONTACT ME</h2>
  <div class="font-courgette lh-30">
    <div class="row">
      <div class="col-md-6 font-2rem">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Contact Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span class="d-flex justify-content-start text-black py-3">
              <mat-icon>place</mat-icon><span class="px-3">Tahachal-13, Kathmandu, Nepal</span>
            </span>
            <span class="d-flex justify-content-start text-black py-3">
              <mat-icon>call</mat-icon><span class="px-3">+977-9860687788</span>
            </span>
            <span class="d-flex justify-content-start text-black py-3">
              <mat-icon>email</mat-icon><span class="px-3"><address><a class="text-black" href="mailto:elwyncrestha@gmail.com">elwyncrestha@gmail.com</a></address></span>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Contact Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="contactForm" (ngSubmit)="submit()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Enter your name">
                    <mat-icon matSuffix>account_circle</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Enter your email address">
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Subject</mat-label>
                    <input matInput formControlName="subject" placeholder="Enter the subject">
                    <mat-icon matSuffix>subject</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Message</mat-label>
                    <input matInput formControlName="message" placeholder="Enter the message">
                    <mat-icon matSuffix>message</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-12 d-flex justify-content-start">
                  <button [disabled]="contactForm.invalid" mat-flat-button color="basic" aria-label="Submit button" type="submit">
                    Send
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
