<div class="p-5">
  <div class="row">
    <div *ngFor="let repo of repos" class="col-md-12">
      <h2 class="font-akronim font-2rem">{{ repo.category }}</h2>

      <div class="row">
        <div *ngFor="let detail of repo.repos" class="col-md-3">
          <div class="card text-black">
            <div class="card-header">{{ detail.name }}</div>
            <div class="card-body">
              <p>{{ detail.description }}</p>
              <p>
                <span class="text-danger" *ngFor="let topic of detail.topics">
                  #{{ topic }}&nbsp;
                </span>
              </p>
            </div>
            <div class="card-footer">
              Created at: {{ detail.created_at | date }}
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
