<header class="mb-auto">
  <div class="d-flex justify-content-center w-100 pt-4">
    <h1 class="float-md-start mb-0 font-akronim font-2pt5rem">{{ PROFILE.name }}</h1>
  </div>
  <div class="d-flex justify-content-center w-100 pt-2">
    <h5 class="font-akronim font-2rem">{{ PROFILE.title }}</h5>
  </div>
</header>
<mat-tab-group animationDuration="1500ms" mat-align-tabs="center" dynamicHeight="true">
  <mat-tab *ngFor="let tab of TABS">
    <ng-template mat-tab-label>
      <span class="d-flex align-items-center text-white">
        <mat-icon>{{ tab.icon }}</mat-icon>
        <span class="px-3">{{ tab.name }}</span>
      </span>
    </ng-template>
    <div class="p-5">
      <ng-container
        [ngTemplateOutlet]="tabTemplate"
        [ngTemplateOutletContext]="{ tabName: tab.name }"
      ></ng-container>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #tabTemplate let-tabName="tabName">
  <ng-container [ngSwitch]="tabName">
    <ng-container *ngSwitchCase="TAB_NAMES.ABOUT">
      <app-about></app-about>
    </ng-container>
    <ng-container *ngSwitchCase="TAB_NAMES.EXPERIENCE">
      <app-experience></app-experience>
    </ng-container>
    <ng-container *ngSwitchCase="TAB_NAMES.SKILLS">
      <app-skills></app-skills>
    </ng-container>
    <ng-container *ngSwitchCase="TAB_NAMES.CONTACT">
      <app-contact></app-contact>
    </ng-container>
  </ng-container>
</ng-template>
